{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block main %}
<h1>Hello, {{ app.user.username }}</h1>
<p>If you can see it, then you are logged in!</p>
<p><a class="btn btn-primary" href="{{ url('app_logout') }}">Logout</a></p>
{% endblock %}
