{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block main %}
    {% if app.user %}
        <h1>Hello, {{ app.user.username }}</h1>
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <h1>Hello, stranger!</h1>
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
{% endblock %}
