{% extends 'base.html.twig' %}

{% block main %}
    <h1>Admin area</h1>
    <h2>Users</h2>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item">{{ user.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}