<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ url('index') }}">Module 183</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav w-100">
                {% for navbarRoute in getNavbarRoutes() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url(navbarRoute.route) }}">{{ navbarRoute.name }}</a>
                    </li>
                {% endfor %}
                {% for navbarRoute in getLoginButtons() %}
                    <li class="nav-item {% if loop.first %}ms-auto{% endif %}">
                        <a class="nav-link" href="{{ url(navbarRoute.route) }}">{{ navbarRoute.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>