<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block header %}
        {% include '_include/header.html.twig' %}
    {% endblock %}
    {% block body %}
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
